*::before, *::after {
    box-sizing: border-box;
}
.container {
    width: 1158px;
    padding: 0 15px;
    margin: auto;
}
/* body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    list-style: none;
}
/* main */
main {
    flex-grow: 1;
}
img {
    display: block;
    max-width: 100%;
}
  a {
    text-decoration: none;
  }
  .icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

  }

/* header */
.page-header .container {
   display: flex;
    align-items: center;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    

}
.heder-social {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    object-fit: cover;
    margin-right: 76px;
    }
.logo-heder {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;;
    } 
.social {
    display: flex;
    gap: 40px;
   }
.social a {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 24px 0; 
    display: block;
    }
.social a:hover {
    color: #404bbf;
    }
.social a:focus {
    color: #404bbf;
    }
.social-list {
    display: flex;
    gap: 40px; 
    }
.social-links {
    font-style: normal;
    align-items: center;
    }
.social-links a {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    }
.social-links a:hover {
    color: #404bbf;
}
.social-links a:focus {
    color: #404bbf;
}

/* hero image*/ 
.title {
   background-image: linear-gradient( to bottom, 
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg); 
    background-color: #2e2f42;
    padding: 188px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
.title-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center; 
    color: #fff; 
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}
.title-text::before,
.title-text::after {
    content: "";
    width: 100px;
    height: 2px;
    background-color: #fff;
}
.title-text:hover:after {
    text-decoration: #03a9f4;
}
.title-button {
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-align: center;  
    background-color: #4d5ae5;
    cursor: pointer; 
    border-radius: 4px;
    padding: 16px 32px;  
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-right: auto;
    margin-left: auto;
}

.title-button:hover {
    background-color: #404bbf;
}
.title-button:focus{
    background-color: #404bbf;
}

/* Section 1 */
.future {
    background-color: none;
    padding: 120px 0;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.future-card {
    display: flex;
    gap: 24px;
    list-style: none;
    
}
.future-set {
    display: block;  
    width: calc((100%-72px)/4);
}
.future-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
        
}
.future-text{
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

    .future-icon{
     border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    padding: 24px 100px;
}

.team {
background-color: #f4f4fd;
padding: 120px 0;
}
/*Section 2 */
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
     margin-bottom: 72px;
}
.team-ul {
    display: flex;
    gap: 24px;
    list-style: none;
}
.team-li{
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100%-72px)/4);
}
.team-man {
    padding: 32px 0;
}
.team-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-text-descr{
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.social-media {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
    align-self: flex-end;
   margin-top: 8px;
   margin-bottom: 0;
    justify-content: center;
    align-items: center;
}

.social-media .link {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;

}

.social-media .link:hover {
    background-color: #fff;
}

.social-media .icon {
    fill: #fff;
}

.social-media .link:hover .icon {
    fill: #4d5ae5;
}
/* Section 3 */
.portfolio {
    padding: 120px 0 120px 0;
}
.portfolio-ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio-li {
    width: calc((100% - 48px) / 3);
   
}
.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}
/* foter */
.item {
    background: #2e2f42;
    display: flex;
    padding: 100px 0;
} 
.item a {
   display: inline-block;
    margin-bottom: 16px;
} 
.logo-foter {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    object-fit: cover;
}
.item-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
       
}
.item-text{
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px; 
}
.item-text-sec {
font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.item-icon {
    display: block;
padding: 100px 0;
margin-left: 120px;

    
}
.social-media-sec {
    display: flex;
    gap: 16px;
    flex-shrink: 0;
    align-self: flex-end;
   
}

.social-media-sec .link {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;

}

.social-media-sec .link:hover {
    background-color: #fff;
}

.social-media-sec .icon {
    fill: #fff;
}

.social-media-sec .link:hover .icon {
    fill: #4d5ae5;
}
 